<section class="entrar-sala">
    <h2>Crie sua própria sala</h2>

    <form action="/create-room" method="POST">
        <label for="room-pass" class="sr-only">Insira uma senha</label>
        <input type="password" id="room-pass" name="password" placeholder="Insira uma senha">
        <button>
            <img src="/images/users2.svg" alt="">
            Criar sala
        </button>
    </form>

</section> <!-- CONTAIN FORM END  -->